{% extends "app/base.html" %}

{% block title %}Accounts - PerFin{% endblock %}

{% block content %}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Accounts</h1>
    <a class="btn btn-primary" href="{% url 'account-create' %}">Add</a>
</div>
<div class="row">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Type</th>
        <th scope="col">Initial Amount</th>
        <th scope="col">Current Amount</th>
        <th scope="col">Start Date</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
    {% for a in accounts %}
      <tr>
        <td>{{ a.name }}</td>
        <td>{% if a.is_saving %}Saving{% else %}Checking{% endif %}</td>
        <td>{{ a.initial_amount }}</td>
        <td>{{ a.current_amount }}</td>
        <td>{{ a.start_date }}</td>
        <td>
            <a href="{% url 'account-update' a.id %}" class="btn btn-primary">Edit</a>
            <a href="#" onclick="deleteModel({{ a.id }}, 'accounts'); return false;" class="btn btn-danger">Delete</a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content%}
